<h1>New Dream Entry</h1>

<form method="post" action="/dreams">
    <div>
        <label for="dream_title_id">Dream title:</label>
        <input type="text" name="dream[title]" id="dream_title_id" required>

        <label for="dream_date">Date of the dream:</label>
        <input type="date" name="dream[date]" id="dream_date" max="" required>
    </div>

    <br>

    <div>
        <label for="dreams_genre">What kind of dream was it?</label>
        <select name="dream[genre]" id="dreams_genre">
            <option value="Fantasy/Magical">Fantasy/Magical</option>
            <option value="Happy">Happy</option>
            <option value="Horror">Horror</option>
            <option value="Humor">Humor</option>
            <option value="Realistic">Realistic</option>
            <option value="Romance">Romance</option>
            <option value="Sad">Sad</option>
            <option value="Spiritual">Spiritual</option>
            <option value="Superhero">Superhero</option>
            <option value="Suspense">Suspense</option>
            <option value="Trippy">Trippy</option>
            <option value="Other">Other</option>
        </select>
    </div>

    <br>

    <div>
        <label for="dream"><h3>Dream:</h3></label>
        <textarea name="dream[dream]" id="dream" rows="25" cols="80" placeholder="Describe your dream:" required wrap="hard"></textarea>
    </div>

    <br>
    
    <%# <input type="submit" value="Post Dream Entry"> %>
     <button type="submit" class="btn_post">Post Dream Entry</button>

</form>