<div class="login">
    <h1>Log In</h1>

    <form method="post" action="/login">
        <div>
            <label for="username">Username:</label>
            <input type="text" name="user[username]" id="username">
        </div>

        <br>

        <div>
            <label for="email">Email:</label>
            <input type="email" name="user[email]" id="email">
        </div>

        <br>

        <div>
            <label for="password">Password:</label>
            <input type="password" name="user[password]" id="password">
        </div>

        <br>

        <%# <input type="submit" value="Login"> %>
        <button type="submit" class="btn btn_login">Log In</button>
    </form>
</div>
