<div class="signup">
    <h1>Sign Up</h1>

    <form method="post" action="/signup">
        <div>
            <label for="username">Username:</label>
            <input type="text" name="user[username]" id="username">
        </div>

        <br>

        <div>
            <label for="email">Email:</label>
            <input type="email" name="user[email]" id="email">
        </div>

        <br>

        <div>
            <label for="password">Password:</label>
            <input type="password" name="user[password]" id="password" pattern=".{8,12}" required title="Password must be 8 to 12 characters">
        </div>

        <br>

        <%# <input type="submit" value="Create an account"> %>
        <button type="submit" class="btn btn_signup">Sign Up</button>
    </form>
</div>