<div class="welcome_page">

    <h1 class="welcome_greeting"> <%=@greeting%> </h1>
    <img src="http://www.pngreal.com/uploads/1/Smoky-Cloud-PNG-Image-Free-Download.png" alt="clouds" width="100%" height="auto">

</div>

